html, body{
  height: 100%;
}

body{
  margin:0;
  background: linear-gradient(-45deg, 
  #276bc4, #6DD5FA, #FFFFFF);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
